@import "tailwindcss";

:root {
  --background-main: #ffffff;
  --background-secondary: #F6F6F6;
  --accent: #C0C8DD;
  --title-text: #57616D;
  --text: #313841;
  --highlight: rgb(246, 45, 174);
  --font-size: 18px;
  --line-height: 1.47rem;
}

@theme inline {
  --color-background: var(--background-main);
  --color-foreground: var(--text);
}

body {
  background: var(--background-main);
  color: var(--text);
  font-family: Jost, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
}
