.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    border: 1px solid var(--foreground);
    padding-bottom: 20px;
    padding-top: 53.1px;
}
.navbar-brand {
    padding-left: 160px;
    position: relative;
}

.navbar-menu{
    padding-right: 160px;
    padding-top: 18.75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
